.product__button {
  cursor: pointer;
  -webkit-appearance: none;
  color: white;
  background-color: blue;
  border: 1px solid darkblue;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
  white-space: nowrap;
}
